@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: Poppins, sans-serif;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("/static/day28.jpg") center/cover no-repeat;
  opacity: 0.9;
  z-index: -1;
}
.box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}
input, button {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #90caf9;
}
button {
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #1565c0;
}
a {
  text-decoration: none;
  color: #1565c0;
}
