<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Services</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='day23.css') }}">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a> |
    <a href="/services">Services</a>
  </nav>

  <h1>My Services</h1>
  <ul>
    <li> Ask me about public Speaking and beauty consulting hehe</li>
    <li>Responsive website design — mobile & desktop friendly</li>
    <li>Frontend interactivity using HTML, CSS & JavaScript</li>
    <li>Little bit more over backend API development with Python & Flask</li>
  </ul>

  <h2>Feel free to contact me via provided Contact page!!</h2>
</body>
</html>
</html>
